<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>

</head>
<body>

    <div class="container">

        <h2>User Registration</h2>

        {% if messages %}
            {% for message in messages %}
                <div style="color: green; margin-bottom: 15px; text-align: center; font-weight: bold;">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Enter Username" required>

            <input type="email" name="email" placeholder="Enter Email" required>

            <input type="password" name="password" placeholder="Enter Password" required>

            <div class="buttons">
                <button type="submit" class="register-btn">
                    Register
                </button>

            </div>

        </form>

    </div>

</body>
</html>