<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background-color: rgb(251, 255, 0);
        }
    </style>

    <title>Document</title>
</head>

<body>
    <h1>Python Full Course in one shot</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illo, voluptas possimus, praesentium
        architecto nihil qui repellat sequi, soluta laudantium minus aspernatur error explicabo unde nam expedita a
        ducimus natus sit saepe non numquam officia? Necessitatibus, tenetur cum accusantium totam qui facilis cumque ea
        iste expedita recusandae nam ducimus officiis eligendi ipsam, dignissimos odit, rem ratione nulla tempora! Ullam
        velit, illo nam ad sed odio eos assumenda! Repudiandae minus architecto cum libero tempora delectus deleniti
        incidunt nostrum fuga non tempore exercitationem, doloribus sunt, sed hic odio laboriosam totam, quaerat
        molestias officiis voluptatibus! Alias autem veniam error ducimus ab eum modi, ad assumenda, vitae possimus
        dolorem iure in perspiciatis quaerat nemo, quos dicta et? In totam, et at corrupti ullam veritatis rerum magnam
        ducimus numquam? Non maxime illo quos repellat. Molestias expedita ex fugiat aliquid qui sunt asperiores neque
        nesciunt quam at, laboriosam corrupti accusamus quas explicabo accusantium eum natus, assumenda numquam dicta?
        Non nulla quae alias assumenda sunt minus, consequatur qui error sit! Harum reprehenderit voluptates
        necessitatibus culpa sint vitae hic, similique, rerum nam eligendi, a cumque odit ipsa quae laboriosam tempora
        adipisci. Optio vero explicabo, unde, eveniet quis autem, enim harum sapiente natus repudiandae voluptas? Dicta
        totam nihil, sequi a perspiciatis ducimus quia impedit accusantium aliquid vel nemo officia possimus dolores
        molestiae magnam omnis quis, rem aliquam tempore alias, ipsam porro! Aspernatur, quasi placeat et delectus qui
        omnis quam error animi. Laudantium atque quod exercitationem voluptate itaque repellendus cum repudiandae et aut
        ratione. Rerum corporis assumenda, debitis tenetur incidunt illum vel odit iure a, mollitia dignissimos eos
        earum sint aut corrupti ut qui tempore maiores voluptatum autem, ipsa voluptatibus consectetur! Repellendus
        illum alias consectetur vel, consequatur ullam, corrupti earum odio laborum sunt non molestias cum in eius
        ratione adipisci aut delectus facilis at natus assumenda totam obcaecati molestiae quaerat. Quod at ut
        molestiae! Harum, libero minima nulla eveniet quos ea, officiis nemo, amet aspernatur dolore ad reiciendis
        nihil. Nobis doloremque quidem, totam ratione qui soluta tempore veritatis asperiores nesciunt cumque
        consequuntur ipsa illo recusandae dolorum excepturi ea iusto esse. Vel consectetur facere at reprehenderit,
        similique quibusdam numquam temporibus facilis neque recusandae nulla? Perspiciatis sed, distinctio fuga optio
        quas odit eius similique dolor obcaecati ipsum laudantium quam corrupti sit repudiandae, mollitia ab nemo est
        iure animi minima ipsam excepturi nisi culpa soluta? Laborum nemo consequatur error perferendis sit quasi fuga
        cum, repellendus laboriosam eos. Blanditiis nemo saepe iure debitis qui distinctio pariatur illo omnis
        perspiciatis, tenetur ratione totam incidunt inventore dolores sit quaerat. Eligendi, itaque iste dicta fuga
        nostrum sit recusandae. Odio error veniam inventore voluptas obcaecati sapiente. Velit suscipit quibusdam
        blanditiis aspernatur esse veritatis reprehenderit voluptas quis, laudantium eaque earum laborum ea a eveniet
        nisi at quia minus aliquam iusto rerum beatae veniam ad consequuntur atque? Dolorum porro molestiae illo
        nesciunt ad quaerat vero ex error fuga quis minima, alias labore? Nam debitis harum asperiores fugiat fugit,
        beatae delectus voluptatum vitae eum excepturi est sunt in similique quo laudantium ad aut. Ex minima dolor,
        harum nemo fugiat quo mollitia.</p>
</body>

<script>

</script>

</html>