<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block corecss %} 
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% endblock corecss %}

    <title>{% block title %}Others{% endblock title %}</title>
  </head>
  <body>
    <div id = "nav">
      <h1>Various ways of Creating Navigations:</h1>
    <ul>
     <h2>
      <li><a href="http://127.0.0.1:8000">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="{{ab}}">About</a></li>
      <li><a href="{% url 'Aboutus' %}">About</a> </li>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'course1' %}">Django Course</a></li>
      <li>Django courses</li>
      </h2>
    </ul>
    </div>

    <h1>{% block Maincontent %}{% endblock Maincontent %}</h1>

    
    {% block content_1 %} 
    <h3>Given below are Content one image:</h3>
    <img src="{% static 'core/images/pic1.png' %}" alt="image">
    {% endblock content_1 %}
    
   <h3>{% block content2 %}{% endblock content2 %}</h3>
  </body>
</html>