{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Document</title>
</head>

<body>
    <h1>Home</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam dolore, error harum perferendis neque aperiam
        unde rerum exercitationem soluta rem! Est earum officia delectus culpa eum ad quibusdam, fugiat possimus nisi
        nulla! Atque consequatur at dolorem, aliquam voluptatem dolor debitis doloremque? Est dolores nam commodi ullam
        mollitia doloribus veniam eum porro accusamus, culpa asperiores, quos laborum. Aliquam a modi est quasi
        mollitia! At quam nostrum enim tempore iusto vel iste nemo eveniet a ad omnis temporibus, excepturi veniam
        asperiores fuga, quis laborum ducimus tempora sed facere ex debitis dolorum sit accusamus. Autem ex consequatur
        aperiam maxime porro unde laudantium explicabo illo consequuntur labore impedit iusto quaerat saepe hic id iste
        quam aliquid odio necessitatibus, commodi voluptatum, tempora assumenda vero! Quas amet magni animi reiciendis
        quos? Magnam reiciendis voluptates sint at nihil facilis modi. Maxime adipisci, ducimus voluptatum quibusdam
        blanditiis quo tempora consequuntur debitis non exercitationem placeat vitae voluptates rem accusamus iusto
        beatae dicta sint error mollitia! Exercitationem reprehenderit, laboriosam natus repellendus culpa debitis in
        iure incidunt delectus eos eligendi libero aperiam odio id accusamus nulla esse vitae earum cumque saepe. Velit
        fugit temporibus ex libero commodi iure quasi a odio quis harum enim quidem et neque incidunt perferendis
        laboriosam labore tenetur mollitia sequi, aperiam dolores voluptatibus? Perferendis fuga architecto corporis
        ipsam inventore ut nulla quia, neque autem obcaecati numquam at fugit quam animi similique vero, nemo saepe
        voluptatem, totam in! Modi, est inventore. Esse aliquid tempora amet molestias maxime, atque officia quis iste
        voluptate placeat expedita saepe quas non nam optio delectus autem eum odit. Doloremque fuga id hic iusto
        obcaecati, autem delectus officiis quam debitis reprehenderit molestias perferendis vitae. Quas ex mollitia
        tenetur error fugiat quaerat adipisci, optio et quae odio? Odio explicabo vel voluptate omnis facere dignissimos
        ullam debitis, nihil porro assumenda consequuntur sed beatae sint perferendis minus maiores rerum ipsum unde
        voluptatibus amet id. Provident dolore soluta facilis excepturi! Ipsa cum explicabo hic, officia, officiis
        tempora repellendus debitis et deleniti dolorem, repellat molestiae aspernatur. Nulla eveniet a, qui modi
        asperiores minima non possimus odio. Quasi ullam facere quaerat voluptas, enim est minima dolores excepturi.
        Neque facere aperiam recusandae ad et architecto, placeat delectus tempore quae natus iure est in, officiis sunt
        soluta modi repellendus. Laudantium eaque quasi, rerum sunt asperiores officia reprehenderit perferendis
        repellat magni nesciunt accusamus unde iure voluptas ea in natus, quam vero autem vitae deleniti nobis placeat?
        Dolorem aspernatur harum id esse magni iusto assumenda itaque dicta labore ex temporibus optio, quod quia, error
        molestiae repellat veniam provident? Quam sunt nisi ullam minima quia vero sit necessitatibus qui eveniet
        veniam! Temporibus similique deserunt esse delectus voluptates assumenda, id obcaecati. Sit reprehenderit
        tenetur, aliquam eaque earum iusto nemo fugit quod. Ipsum veritatis eos rem explicabo, impedit magni aperiam,
        autem neque sed laborum placeat id commodi quis quasi. Ipsam maxime cum dolores id perspiciatis sint soluta eius
        tempore possimus cumque perferendis aliquam, ipsum reprehenderit qui! At aliquam deserunt minima inventore
        dolor. Ipsam illo aliquid, assumenda eveniet reprehenderit velit sed rem eius consectetur, laboriosam odit iusto
        asperiores, mollitia harum quasi quas pariatur nam eaque totam rerum dolorem cupiditate quo eligendi quaerat.
        Laborum dignissimos aliquam iusto saepe molestiae accusantium deleniti esse vel perspiciatis! Odio nisi dolorem
        magni odit, natus distinctio maiores ullam consequuntur labore commodi pariatur cum enim expedita nihil,
        temporibus sapiente repellendus placeat. Animi deleniti quibusdam voluptas, accusantium rerum asperiores,
        voluptatum iure amet possimus aperiam voluptatem doloremque velit enim ad molestias? Voluptates eligendi
        repellat impedit reprehenderit distinctio! Eum itaque voluptatum fugit est, doloremque fuga dolor ipsa veritatis
        nisi rerum natus voluptatibus aperiam iusto, ab excepturi a sapiente non explicabo, fugiat dignissimos atque?
        Aspernatur odit quibusdam iusto earum officia delectus, eveniet consequuntur, accusamus blanditiis quos aut
        dolores id, nostrum porro pariatur ullam obcaecati. Enim facilis nostrum nemo, eos nihil a libero eligendi.
        Dicta quos aliquid, laborum harum recusandae quibusdam vero cum aspernatur quis cupiditate tenetur temporibus
        atque ipsam, delectus quia consectetur voluptatibus debitis! Aut id, veritatis sunt quibusdam dolore recusandae
        adipisci quisquam nesciunt odit accusantium quidem consectetur obcaecati saepe deserunt sequi! Dolorem
        dignissimos, soluta optio harum sunt error nesciunt mollitia aliquid assumenda at eos rerum deserunt vero
        dolores consequatur nulla, quo placeat magnam ab quisquam? Eos aliquam, iste accusantium possimus hic cumque
        quae repellat amet deserunt placeat quidem magnam praesentium. Ducimus officiis cum incidunt laudantium qui quo
        explicabo nam deleniti corrupti, modi voluptates autem? Minus quisquam iure quia quaerat accusamus facilis,
        totam corporis fugit quidem explicabo earum error architecto qui tempora perspiciatis quos? Laborum corporis
        harum, pariatur aperiam voluptatem adipisci laudantium voluptate eaque distinctio nihil molestias eos eveniet!
        Quisquam laborum eveniet unde beatae dolore ad esse, vero nemo fugiat porro ducimus quod animi. At dolorem
        distinctio nostrum animi autem ipsa dicta est harum fugit ut aliquid itaque quam debitis voluptatibus, aperiam
        odit obcaecati, asperiores quasi pariatur incidunt? Incidunt, beatae, praesentium cum quo distinctio natus vel,
        id voluptate commodi odio quidem illum? Eum esse vel rerum? Rerum pariatur saepe quos ipsum voluptates vitae
        nesciunt. Eos odit quo ex, nulla exercitationem consectetur doloremque architecto ratione veritatis soluta
        recusandae iste porro necessitatibus maiores sequi distinctio tempora totam a atque reiciendis sit at deserunt!
        Itaque voluptates, modi commodi quam animi alias quas officia rerum sunt nemo molestias mollitia eligendi
        perspiciatis numquam! Deserunt fugiat itaque excepturi ipsum velit cupiditate libero eligendi culpa eum magni.
        Nisi deserunt ipsa sequi. Beatae provident voluptas iure fugiat dolorem ea. Voluptas autem rerum pariatur optio
        dignissimos? Odio accusamus numquam ratione sit nisi aliquam suscipit ut labore consectetur nemo odit quia
        quisquam error, nostrum corrupti a, neque magni, quod quaerat accusantium voluptas! Laboriosam autem ducimus
        quae quibusdam temporibus nulla dolor iste sint consequuntur voluptatum eligendi fugiat ullam vitae magnam illo
        reprehenderit tempora architecto, ratione odio vel soluta blanditiis aut expedita? Quidem quam tempore
        perferendis incidunt nobis possimus vitae, suscipit doloribus iste numquam ducimus consectetur! Similique
        assumenda eos laborum adipisci numquam dicta provident deleniti, voluptate modi corrupti aspernatur error rem
        rerum consequuntur sed laudantium amet accusamus eum aperiam. Voluptates ab in illum, blanditiis natus expedita
        officiis praesentium ex suscipit. Facilis enim optio amet quis consectetur fugit rerum iste ipsum animi?
    </p>

    <h2>Home II</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae delectus odio voluptatibus consequuntur saepe
        placeat dignissimos doloremque sit voluptates quibusdam qui, ipsam odit possimus quis natus dolorem doloribus
        quo, necessitatibus modi optio nobis pariatur. Voluptate, incidunt deserunt rerum quidem harum fugiat, eos iure
        dignissimos tempore aperiam enim nostrum ad, provident atque adipisci numquam eveniet quos eligendi distinctio
        veniam. Neque, adipisci? Illo, quidem. Neque cumque error fuga recusandae est repellendus cupiditate aliquid.
        Eveniet ducimus et ad harum esse, laudantium in doloremque dolore, soluta at nostrum laborum doloribus voluptas,
        cupiditate deleniti minus? Aperiam, laborum consequuntur doloribus odio omnis dolor quas neque voluptate, est
        placeat accusamus! Alias optio earum deserunt numquam illo error at, quisquam nulla dolores exercitationem
        beatae veniam perferendis minus est expedita? Ad hic, harum unde esse atque ipsum blanditiis distinctio
        molestiae quaerat deserunt dolor tenetur molestias excepturi officiis minima nisi ullam vel expedita? Impedit
        voluptate corrupti ab accusantium id similique architecto quidem. Veniam sed enim, debitis nesciunt perspiciatis
        possimus! Praesentium quaerat eveniet, magnam aperiam, modi pariatur ducimus perferendis laboriosam magni non
        exercitationem beatae dolore id reprehenderit maiores ea deleniti quisquam, temporibus corporis eaque veritatis
        repudiandae. Ullam, maiores commodi. Aspernatur provident laboriosam, exercitationem fuga recusandae placeat
        deserunt quae veniam nemo rem accusantium. Cupiditate consectetur rerum odio, adipisci veniam numquam porro
        aliquam voluptatibus, quos modi dolorem atque perferendis facilis. Est perferendis perspiciatis maxime suscipit
        reprehenderit sapiente, minus et sit ducimus sed, repellat nihil esse corporis cupiditate! Facilis quam nulla
        explicabo, ipsa aperiam nisi quae, rerum fugit officia maiores quisquam odio cumque, nesciunt eos animi optio
        deleniti autem ad nemo ex ut magnam sed. Nesciunt possimus accusantium debitis ut perferendis rem voluptate,
        aperiam quisquam consequuntur est officiis recusandae ipsa iusto tempora inventore, repudiandae cupiditate sed.
        In iusto porro, architecto minus beatae aut ex quas obcaecati atque inventore amet excepturi quam maxime
        voluptate itaque.</p>

    <h3>Home III</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quam nostrum dolorum, minus enim hic doloremque
        eligendi et error similique ad beatae nihil laudantium molestiae laboriosam. Maxime consequatur qui quod ducimus
        doloremque quos atque consequuntur. Eveniet, enim magnam corrupti dicta quidem porro quo velit praesentium
        vitae, totam ut eos maiores? Fugit voluptas quae cum velit laudantium sunt quod explicabo libero, neque aliquam
        labore autem nostrum facilis? Aperiam soluta voluptatibus dolorum quidem odit perferendis alias, quia magnam ut
        earum! Velit natus perspiciatis illum at delectus itaque nisi omnis deleniti. Dicta ipsam nulla quam sunt autem
        consequatur vero laudantium libero. Autem facere, aliquam quisquam magni doloremque ipsa. Porro illo ipsa
        laborum quidem saepe amet officiis eum tempora optio at! Assumenda praesentium, ratione, totam explicabo
        officia, nulla quasi tempore obcaecati iusto nobis rem magnam non fuga necessitatibus tempora labore molestias
        voluptatibus? Suscipit aut pariatur cupiditate beatae reiciendis consectetur, sed blanditiis aspernatur totam.
        Beatae esse praesentium deserunt qui aut commodi facilis asperiores laborum quisquam aspernatur, explicabo,
        fugiat labore quidem, quis numquam perspiciatis quos voluptas dolorum nulla nesciunt provident! Nesciunt at
        obcaecati magni ab, aspernatur, id temporibus culpa esse officia odio laboriosam numquam dicta. Assumenda fugiat
        eaque fugit vitae deleniti. Nemo architecto vitae pariatur vero.
    </p>
</body>

</html>