<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h2>hello!</h2>

    <h2>{{all_students.stu1}}</h2>
    <h2>{{all_students}}</h2>

    <hr />
    <h3>{{stu5.stu3}}</h3>
    <h4>{{stu5.stu3.name}} : {{stu5.stu3.fee}}</h4>
    <h4>{{stu5.stu1.name}} : {{stu5.stu1.fee}}</h4>
    <h4>{{stu5.stu2.name}} : {{stu5.stu2.fee}}</h4>
    <h4>{{stu5.stu4.name}} : {{stu5.stu4.fee}}</h4>
  </body>
</html>
